{{#if_eq park ':grte'}}
  <div class="parkBack">
  <div id="soundsList" class="row">
    <h1 class="parkTitle">Grand Teton Sounds</h1>
    <div class="col-md-2 list-sort"><!--sort options-->
      <h3></h3>
      <div class="form-group">
        <input class="search typeahead" placeholder="Search" />
        <!--<button type="button" class="filter btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="filter-none">Show all</button>-->
        <div class="form-group">
          <div class="filter-none">
                <label><input class="filter" type="checkbox" id="filter-none" data-value="none">Show All</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Type of sound</h5>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-bird" data-value="birds">Birds</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-insects" data-value="insects">Insects</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-wildlife" data-value="wildlife">Wildlife</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-storm" data-value="storm">Storm</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-water" data-value="water">Water</label>
        </div>
        <h5>Season</h5>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="summer">Summer</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="fall">Fall</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="winter">Winter</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="spring">Spring</label>
        </div>
      </div>

  </div><!--end sorting-->
  <div class="col-md-9 listSounds"><!--search results-->
      <h3 class="sort-title">Sort by</h3>
      <button class="sort btn btn-default" data-sort="season">Season <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      <button class="sort btn btn-default" data-sort="siteName">Site <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      <button class="sort btn btn-default" data-sort="tags">Sound Type <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      <div class="accordion" id="accordion2">
      <ul class="list">
        {{#each entries}}
                {{#if_eq Unit_Code 'GRTE'}}
                  <li>
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{Sound_Id}}">
                          <h2 class="soundName">{{Site_Name}}: {{Season}}</h2>

                        </a>
                          <p class="tags">{{Tags}}</p>
                       </div>
                       <div id="{{Sound_Id}}" class="accordion-body collapse">
                         <div class="accordion-inner">
                              <p class="unitCode">{{Unit_Code}}</p>
                              <p class="season">{{Season}}</p>
                              <p class="siteName">{{Site_Name}}</p>
                              <div class="listScroll"><img src="/images/{{Spectro_File}}" height="100" /></div>
                              <audio preload="auto" src="/sounds/{{Sound_File}}" controls></audio>
                        </div>
                      </div>
                      </div>
                 </li>
                {{/if_eq}}
        {{/each}}
      </ul>
    </div><!--end accordion-->
  </div><!--end search results-->
  </div>
</div>

  {{#extend "scripts"}}
  <script>
    $('#filter-none').prop('checked', true);
    $(document).ready(function() {
      $('#filter-none').trigger("change");

    });

    var value = $('#filter-park').data("value");
    activeFilters.push(value);

    soundsList.filter(function (item) {
    //console.log(item);
      var t = false;
      var item = item.values().tags
      item = item.toLowerCase()
    //  console.log(item);
      //pass t and item..
      return updateFilters(t, item);

    });//end sounds filter
    //$('#filter-none').trigger('click');
    $('.sort').on('click', function(e) {
      console.log("sort");
     $('.glyphicon', this).toggleClass('glyphicon-menu-down glyphicon-menu-up'); //you can list several class names
     //e.preventDefault();
   });

  </script>
  {{/extend}}

{{else}}
  <div class="parkBack2">
    <div id="soundsList" class="row">
      <h1 class="parkTitle">Yellowstone Sounds</h1>
      <div class="col-md-2 list-sort"><!--sort options-->
        <h3></h3>
        <div class="form-group">
          <input class="search typeahead" placeholder="Search" />
          <!--<button type="button" class="filter btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="filter-none">Show all</button>-->
          <div class="form-group">
            <div class="filter-none">
                  <label><input class="filter" type="checkbox" id="filter-none" data-value="none">Show All</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h5>Type of sound</h5>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-bird" data-value="birds">Birds</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-insects" data-value="insects">Insects</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-wildlife" data-value="wildlife">Wildlife</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-storm" data-value="storm">Storm</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-water" data-value="water">Water</label>
          </div>
          <h5>Season</h5>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="summer">Summer</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="fall">Fall</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="winter">Winter</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="spring">Spring</label>
          </div>
        </div>
    </div><!--end sorting-->
    <div class="col-md-9 listSounds"><!--search results-->
        <h3 class="sort-title">Sort by</h3>
        <button class="sort btn btn-default" data-sort="season">Season <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
        <button class="sort btn btn-default" data-sort="siteName">Site <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
        <button class="sort btn btn-default" data-sort="tags">Sound Type <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
        <div class="accordion" id="accordion2">
        <ul class="list">
        {{#each entries}}
            {{#if_eq Unit_Code 'YELL'}}
            <li>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{Sound_Id}}">
                    <h2 class="soundName">{{Site_Name}}: {{Season}}</h2>

                  </a>
                    <p class="tags">{{Tags}}</p>
                 </div>
                 <div id="{{Sound_Id}}" class="accordion-body collapse">
                   <div class="accordion-inner">
                        <p class="unitCode">{{Unit_Code}}</p>
                        <p class="season">{{Season}}</p>
                        <p class="siteName">{{Site_Name}}</p>
                        <div class="listScroll"><img src="/images/{{Spectro_File}}" height="100" /></div>
                        <audio preload="auto" src="/sounds/{{Sound_File}}" controls></audio>
                  </div>
                </div>
                </div>
           </li>
          {{/if_eq}}
  {{/each}}
</ul>
</div><!--end accordion-->
</div><!--end search results-->
</div>
</div>
{{#extend "scripts"}}
<script>
$('#filter-none').prop('checked', true);
$(document).ready(function() {
  $('#filter-none').trigger("change");

});
$('.sort').on('click', function(e) {
  console.log("sort");
 $('.glyphicon', this).toggleClass('glyphicon-menu-down glyphicon-menu-up'); //you can list several class names
 //e.preventDefault();
});
</script>
{{/extend}}

{{/if_eq}}
