{{#if_eq park ':grte'}}
  <div class="parkBack">
    <img class="img-responsive list-holder" src="../images/GRTE-SatWeb2.jpg">
  <div id="soundsList" class="row">
    <h1 class="parkTitle">Grand Teton Sounds</h1>
    <div class="col-md-2 list-sort"><!--sort options-->
      <h3></h3>
      <div class="form-group">
        <input class="search typeahead" placeholder="Search" />
        <!--<button type="button" class="filter btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="filter-none">Show all</button>-->
        <div class="form-group">
          <div class="filter-none">
                <label><input class="filter" type="checkbox" id="filter-none" data-value="none">Show All</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Type of sound</h5>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-bird" data-value="birds">Birds</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-insects" data-value="insects">Insects</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-wildlife" data-value="wildlife">Wildlife</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-storm" data-value="storm">Storm</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-water" data-value="water">Water</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-wind" data-value="wind">Wind</label>
        </div>
        <h5>Season</h5>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="summer">Summer</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="fall">Fall</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="winter">Winter</label>
        </div>
        <div class="checkbox">
              <label><input class="filter tags" type="checkbox" id="filter-season" data-value="spring">Spring</label>
        </div>
      </div>

  </div><!--end sorting-->
  <div class="col-md-9 listSounds"><!--search results-->
      <h3 class="sort-title">Sort by</h3>
      <button class="sort btn btn-default btn-sm" data-sort="season">Season <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      <button class="sort btn btn-default btn-sm" data-sort="siteName">Site <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      <button class="sort btn btn-default btn-sm" data-sort="tags">Sound Type <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      <div class="accordion" id="accordion2">
      <ul class="list">
        {{#each entries}}
                {{#if_eq Unit_Code 'GRTE'}}
                  <li class="listItem" id="sound{{Sound_Id}}">
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle soundItem closed" data-toggle="collapse" data-parent="#accordion2" href="#{{Sound_Id}}">
                          <h2 class="soundName">{{Site_Name}}: {{Season}}</h2>

                        </a>
                          <p class="soundTitle">Sounds: <span class="tags soundSpan">{{Tags}}</span></p>
                       </div>
                       <div id="{{Sound_Id}}" class="accordion-body collapse">
                         <div class="accordion-inner">
                              <p class="soundTitle">Site Location: <span class="siteName soundSpan">{{Site_Name}}</span></p>
                              <p class="soundTitle">Season: <span class="season soundSpan">{{Season}}</span></p>
                              <!--div class="listScroll"><img src="/images/{{Spectro_File}}" height="100" /></div>-->
                              <div class="listSpectro">
                                <div id="visList{{Sound_Id}}" onclick="progressClick(event, {{Sound_Id}})" class="spectrogram visList" width="800" height="300">
                                  <img id="imageGrey{{Sound_Id}}" class="small imageGrey" src="/images/{{Grey_File}}" height="130" />
                                  <div id="progressWrapper{{Sound_Id}}" class="progressWrapper"><img id="imageColor{{Sound_Id}}" class="imageColor" src="/images/{{Spectro_File}}" height="130" /></div>

                                </div>

                              </div>
                              <audio id="audio{{Sound_Id}}" class="audio" preload="metadata" ontimeupdate="timeUpdate(event, {{Sound_Id}})" src="/sounds/{{Sound_File}}" controls></audio>
                        </div>
                      </div>
                      </div>
                 </li>
                {{/if_eq}}
        {{/each}}
      </ul>
    </div><!--end accordion-->
  </div><!--end search results-->
  </div>
</div>

  {{#extend "scripts"}}
  <script src="/javascripts/listaudio.js"></script>
  <script>

    //menu bar
    $('#grtemenu').addClass("active");

    $('#filter-none').prop('checked', true);
    $(document).ready(function() {
      $('#filter-none').trigger("change");

    });

    var value = $('#filter-park').data("value");
    activeFilters.push(value);

    soundsList.filter(function (item) {
    //console.log(item);
      var t = false;
      var item = item.values().tags
      item = item.toLowerCase()
    //  console.log(item);
      //pass t and item..
      return updateFilters(t, item);

    });//end sounds filter
    //$('#filter-none').trigger('click');
    $('.sort').on('click', function(e) {
      console.log("sort");
     $('.glyphicon', this).toggleClass('glyphicon-menu-down glyphicon-menu-up'); //you can list several class names
     //e.preventDefault();
   });

  </script>
  {{/extend}}

{{else}}
  <div class="parkBack2">
    <img class="img-responsive list-holder" src="../images/yell-sat-largeWeb.jpg">
    <div id="soundsList" class="row">
      <h1 class="parkTitle2">Yellowstone Sounds</h1>
      <div class="col-md-2 list-sort"><!--sort options-->
        <h3></h3>
        <div class="form-group">
          <input class="search typeahead" placeholder="Search" />
          <!--<button type="button" class="filter btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" id="filter-none">Show all</button>-->
          <div class="form-group">
            <div class="filter-none">
                  <label><input class="filter" type="checkbox" id="filter-none" data-value="none">Show All</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h5>Type of sound</h5>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-bird" data-value="birds">Birds</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-insects" data-value="insects">Insects</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-wildlife" data-value="wildlife">Wildlife</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-storm" data-value="storm">Storm</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-water" data-value="water">Water</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-wind" data-value="wind">Wind</label>
          </div>
          <h5>Season</h5>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="summer">Summer</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="fall">Fall</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="winter">Winter</label>
          </div>
          <div class="checkbox">
                <label><input class="filter tags" type="checkbox" id="filter-season" data-value="spring">Spring</label>
          </div>
        </div>
    </div><!--end sorting-->
    <div class="col-md-9 listSounds"><!--search results-->
        <h3 class="sort-title">Sort by</h3>
        <button class="sort btn btn-default btn-sm" data-sort="season">Season <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
        <button class="sort btn btn-default btn-sm" data-sort="siteName">Site <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
        <button class="sort btn btn-default btn-sm" data-sort="tags">Sound Type <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
        <div class="accordion" id="accordion2">
        <ul class="list">
        {{#each entries}}
            {{#if_eq Unit_Code 'YELL'}}
            <li class="listItem" id="sound{{Sound_Id}}">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle soundItem closed" data-toggle="collapse" data-parent="#accordion2" href="#{{Sound_Id}}">
                    <h2 class="soundName">{{Site_Name}}: {{Season}}</h2>

                  </a>
                    <p class="soundTitle">Sounds: <span class="tags soundSpan">{{Tags}}</span></p>
                 </div>
                 <div id="{{Sound_Id}}" class="accordion-body collapse">
                   <div class="accordion-inner">
                        <p class="soundTitle">Site Location: <span class="siteName soundSpan">{{Site_Name}}</span></p>
                        <p class="soundTitle">Season: <span class="season soundSpan">{{Season}}</span></p>
                        <!--div class="listScroll"><img src="/images/{{Spectro_File}}" height="100" /></div>-->
                        <div class="listSpectro">
                          <div id="visList{{Sound_Id}}" onclick="progressClick(event, {{Sound_Id}})" class="spectrogram visList" width="800" height="300">
                            <img id="imageGrey{{Sound_Id}}" class="small imageGrey" src="/images/{{Grey_File}}" height="130" />
                            <div id="progressWrapper{{Sound_Id}}" class="progressWrapper"><img id="imageColor{{Sound_Id}}" class="imageColor" src="/images/{{Spectro_File}}" height="130" /></div>

                          </div>

                        </div>
                        <audio id="audio{{Sound_Id}}" class="audio" preload="metadata" ontimeupdate="timeUpdate(event, {{Sound_Id}})" src="/sounds/{{Sound_File}}" controls></audio>
                  </div>
                </div>
                </div>
           </li>
          {{/if_eq}}
  {{/each}}
</ul>
</div><!--end accordion-->
</div><!--end search results-->
</div>
</div>
{{#extend "scripts"}}
<script src="/javascripts/listaudio.js"></script>
<script>
//menu bar
$('#yellmenu').addClass("active");
$('#filter-none').prop('checked', true);
$(document).ready(function() {
  $('#filter-none').trigger("change");

});
$('.sort').on('click', function(e) {
  console.log("sort");
 $('.glyphicon', this).toggleClass('glyphicon-menu-down glyphicon-menu-up'); //you can list several class names
 //e.preventDefault();
});
</script>
{{/extend}}

{{/if_eq}}
