  <div id="soundsList" class="row">
<div class="col-md-2">
  <button class="sort" data-sort="siteName">Sort by site</button>
  <button class="sort" data-sort="unitCode">Sort by park</button>
</div>

<div class="col-md-10"><!--search results-->
    <div class="accordion" id="accordion2">
    <ul class="list">
      {{#each entries}}
                <li>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{Sound_Id}}">
                        <h2 class="soundName">{{Sound_Name}}</h2>
                      </a>
                        <p class="tags">{{Tags}}</p>
                     </div>
                     <div id="{{Sound_Id}}" class="accordion-body collapse">
                       <div class="accordion-inner">
                            <p class="siteName">{{Site_Name}}</p>
                            <p class="unitCode">{{Unit_Code}}</p>
                            <audio preload="auto" src="/sounds/{{Sound_File}}" controls></audio>
                      </div>
                    </div>
                    </div>
               </li>
               {{else}}
                   <h1>Sorry, no results found.</h2>
               {{/each}}
    </ul>
  </div><!--end accordion-->
</div><!--end search results-->
</div><!--end sounds list -->
