<div class="parkBack">
  <img class="img-responsive list-holder" src="../images/yell-sat-largeWeb.jpg">
<div id="soundsList" class="row">


<div class="col-md-8 col-centered listSounds2"><!--search results-->
  <h3 class="sort-title">Sort by</h3>
  <button class="sort btn btn-default" data-sort="season">Season <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
  <button class="sort btn btn-default" data-sort="siteName">Sort by site <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
  <button class="sort btn btn-default" data-sort="unitCode">Sort by park <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    <div class="accordion" id="accordion2">
    <ul class="list">
      {{#each entries}}
          <li class="listItem" id="sound{{Sound_Id}}">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle soundItem closed" data-toggle="collapse" data-parent="#accordion2" href="#{{Sound_Id}}">
                  <h2 class="soundName">{{Site_Name}}: {{Season}}</h2>

                </a>
                  <p class="soundTitle">Sounds: <span class="tags soundSpan">{{Tags}}</span></p>
               </div>
               <div id="{{Sound_Id}}" class="accordion-body collapse">
                 <div class="accordion-inner">
                      <p class="soundTitle">Site Location: <span class="siteName soundSpan">{{Site_Name}}</span></p>
                      <p class="soundTitle">Season: <span class="season soundSpan">{{Season}}</span></p>
                      <!--div class="listScroll"><img src="/images/{{Spectro_File}}" height="100" /></div>-->
                      <div class="listSpectro">
                        <div id="visList{{Sound_Id}}" onclick="progressClick(event, {{Sound_Id}})" class="spectrogram visList" width="800" height="300">
                          <img id="imageGrey{{Sound_Id}}" class="small imageGrey" src="/images/{{Grey_File}}" height="130" />
                          <div id="progressWrapper{{Sound_Id}}" class="progressWrapper"><img id="imageColor{{Sound_Id}}" class="imageColor" src="/images/{{Spectro_File}}" height="130" /></div>

                        </div>

                      </div>
                      <audio id="audio{{Sound_Id}}" class="audio" preload="metadata" ontimeupdate="timeUpdate(event, {{Sound_Id}})" src="/sounds/{{Sound_File}}" controls></audio>
                </div>
              </div>
              </div>
            </li>
               {{else}}
                   <h1>Sorry, no results found.</h2>
               {{/each}}
    </ul>
  </div><!--end accordion-->
</div><!--end search results-->
</div><!--end sounds list -->
</div>
{{#extend "scripts"}}
<script src="/javascripts/listaudio.js"></script>
<script>
$('.sort').on('click', function(e) {
  console.log("sort");
 $('.glyphicon', this).toggleClass('glyphicon-menu-down glyphicon-menu-up'); //you can list several class names
 //e.preventDefault();
});
</script>
{{/extend}}
